/**
 *@author Andrew Plaza
 * Styles for ScrantonHacks website
 * Switch to a more React-ish CSS Solution such as glamour or css modules
 */

.transparent-scranton-bg {
  background-color: $scranton-purple-transparent;
}

.text-center { text-align: center !important; }
.padding-left-20px {
  padding-left: 20px;
}

.margin-right-1em {
  margin-right: 1em;
}
.text-white { 
  color: $white;
  max-width: 100%;
  > p {
    max-width: 100% !important;
    color: $white !important;
  }

  > h1 {
    color: $white;
  }
  > h2 {
    color: $white;
  }
  > h3 { 
    color: $white;
  }

  > h4 {
    color: $white;
  }

  h5 {
    color: $white;
  }
}

.sub-btn {
  background-color: $attention-color-transparent !important;
  width: 100%;
  display: block;
  vertical-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
}

.subscribe-form {
  > input, select, textarea {
    float: none; 
    background-color: $input-box-color !important;
    color: $white !important;
    width: 24em;
  }
}

