$brand-color-lighter: desaturate(lighten(#01a982, 55%), 40%);
$brand-neutral-colors: (#123A22, #7A633E) !default;
$brand-accent-colors: (#823AB9, #512D6D) !default;
$brand-status-colors: (
  critical: #F04953,
  error: #F04953,
  warning: #FFD144,
  ok: #01a982,
  unknown: #CCCCCC,
  disabled: #CCCCCC
);

$brand-link-color: inherit;
$link-hover-color: #01a982;
$brand-link-text-decoration: underline;
$brand-grey-colors: (#FFFFFE, #CCCCCC, #C4C4C4, #BCBCBC, #999999);
$brand-graph-colors: $brand-neutral-colors;



$scranton-purple-transparent: rgba(81,45,109,0.8);
$scranton-purple: rgb(81, 45, 109);

$input-box-color: rgba(73, 69, 82, 0.8);

$attention-color: rgb(67, 185, 144);
$attention-color-transparent: rgba(67, 185, 144, 0.8);

$white: #fff;
